body, html {
  height: 100%;
  margin: 0;
  background-color: #272727; /* Dark background color */
  color: #e0e0e0; /* Light text color */
}

.dark-mode {
  background-color: #000000;
  color: #e0e0e0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #141414; /* Slightly lighter background for the container */
  border-radius: 10px;
  gap: 10px;
}

.globe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  overflow: hidden;
}

@keyframes shake6 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.error {
  animation: shake6 0.4s ease-in-out 0s 2;
}


.title {
  text-align: center;
  margin-bottom: 20px;
}

.guessed-list, .missed-list {
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  padding: 1px;
  border-top: 1px solid #ccc;
}

.guessed-list {
  display: flex;
  flex-direction: column-reverse;
}

.flash-green {
  animation: flash 1s ease-in-out;
}

.select-guess-container {
  display: flex;
  align-items: center; /* Vertically align items */
  gap: 10px; /* Space between the select and button */
}

.centered-option {
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  width: 70%; /* Adjust width as needed */
  box-sizing: border-box;
  text-align: center; /* For most browsers */
  text-align-last: center; /* For Firefox */
}

@keyframes flash {
  0% {
    background-color: green;
    color: white;
  }
  100% {
    background-color: transparent;
    color: inherit;
  }
}
